*{
    margin: 0;
    padding: 0;
}
html, body,#app{
    height: 100%;
    background: #f5f7f9;
    /* min-height: 486px; */
}
content{
    /* min-height: 714px; */
    background-color: #f5f7f9;
}
/* .sider::-webkit-scrollbar-track{
    display: none;
}
.sider::-webkit-scrollbar-thumb{
    border-radius: 2px;
} */
